// --------------------
// Definition of variables
$primary: #8d8e99;


// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
// 
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------


// --------------------
// Style reusable for all components

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.menuBar {
  background-color: #6a6a72;
  padding: 10px 10px 5px 10px;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 2px solid gray;

}
.Home
  {
    background: url("/newsbackg.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 650px;

  }

.Home img{
  width: 700px;
  height: 300px;
  border-radius: 20px;
  padding: 2px 0 2px 0;
}
.Home button{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  border-radius: 20px;
  
}
.headle{
  background-color: $primary;
    box-shadow: 0 0 15px;
}
.headle:hover{
  background-color: #9b9999;
}
.headle .picNavBar{
  margin-left:40px; 
}
.headle a:hover{
  
}

.headle span{
  font-size: 2vw;
  padding-right: 5px;
 
}

.headle {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.wornBackground{
 
  background: url("/warn.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 550px;;
 
}
.warnFirstBox{
  display: flex;
  justify-content: center;
 
}
.warnSecondbox{
  border: 1px solid rgb(14, 13, 13);
  width: 50vw;
  padding: 1vh;
  box-shadow: 0 0 20px rgb(136, 135, 135);
  border-radius: 10px;
  text-align: center;
  margin-top: 10%;
  font-size: 4vw;
  color: white
}
.warnSecondbox p{
  text-shadow: 0 0 15px;
  margin-top:0.2vh;
}
a{
  text-decoration: none;
  color: black;
  transition: background-color .5s;
}
a:hover {
color: rgb(0, 128, 255);
border-bottom: 3px solid rgb(0, 128, 255);
}
.NewsBox, .indexMesBox, .sentBox{
  margin:0 15vw 0 15vw;
}
.NewsBox p , .indexMesBox p, .sentBox p{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  font: 10px sans-serif;
  overflow: scroll;
  box-shadow: 0 0 200px rgb(255, 255, 255);
}
.eachInbox .title{
font-weight: bold;
}
.eachNewsBox , .eachInbox,{
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(136, 135, 135);
  padding: 0.5vw 1vw 0.5vw 1vw;
  transition: all .3s; 
  overflow: hidden;
  color: rgb(122, 121, 121);
  background-color: white;
}
.eachNewsBox, .eachInbox, {
  height: 2vh;
}
.eachNewsBox:hover,.eachInbox:hover{
  height:15vh;
  overflow:scroll;
  color: black;
  background-color: rgb(233, 233, 235);
}
.indexMesBox p{
  height: 60vh;
}
.NewsBox p{
  height: 50vh;
}
.sentBox p{
  height: 60vh;
}
.mailNav{
margin: 10vw 0 0 5vw;
list-style-type:none;
}
.mailNav span{
padding: 2vw;
border-top:1vw solid #9b9999;
font-size: 4vw;

}
.indexMesBox, .sentBox, .mailBox, .newsBox,.newsFrom{
  border:1px solid none;
  margin: 2vh 10vh 0 10vh;
  border-top: 1vw solid #9b9999;
}

.indexMesBox form input{
  border-radius: 2px;
  
}
.indexMesBox form img{
  padding-top: 15px;
}
.inputMailBox{
  margin: 5vh;
}
.inputMailBox input{
  margin: 2vw;
}

.inputMailBox input input{
  width: 100px;
}
input, textarea, .inputMailBox button{
  border: 1px solid gray;
}
.inputMailBox form{
  border: 1px solid none;
  padding: 6vw;
  margin: 0 10vw;
  background:url(/notebook.jpg) ;
  border-radius: 15px;
  box-shadow: 0 0 20px rgb(153, 153, 221);
}
.inputMailBox form .title,.newsFrom form .title{
  width: 30vw;
  height: 5vh;
  border: none;
}
.inputMailBox form .textarea{
  margin-left:20px;
  border: none;
}
.inputMailBox form .photo{
  border: none;
}
.inputMailBox button{
  margin-left:25px;
  background-color: rgba(55, 55, 207, 0.74);
  color: white;
  border-radius: 5px;
}

.newsFrom form{
  border: 1px solid none;
  padding: 6vw;
  margin:  5vw 10vw;
  background: url("/newsbackg.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
  box-shadow: 0 0 20px rgb(136, 135, 135);
}
.newsFrom form .title, .textarea, button {
border: none;
margin-bottom: 10px;
border-radius: 5px;
}
.newsFrom form button,.Login button, .Signup button{
  background-color: rgba(55, 55, 207, 0.74);
  color: white;
  border-radius: 5px;
}
.newsFrom form .photo{
  border: none;
margin-bottom: 10px;
}
.Login ,.Signup{
  border: 2px solid rgb(1, 0, 2);
  padding: 2vw;
  width: 300px;
  margin:0px auto;
  margin-top: 5%;
  border-radius: 5px;
  background-color: #f5f4fd

}
.Signup input{
  margin-bottom: 5px;
  border: none

}